/*=============== FONTS ===============*/
@font-face {
  font-family: "font-1";
  src: url(../fonts/Delfino.otf);
}

@font-face {
  font-family: "font-2";
  src: url(../fonts/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: "font-3";
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "font-4";
  src: url(../fonts/Poppins-SemiBold.ttf);
}

/*=============== VARIABLES CSS ===============*/
:root {
  --color1: #D9D5D4;
  --color2: #192231;
  --color3: #2285D1;
  --color4: #26AD54;
  --color5: #C33B2B;
  --color6: #807EED;
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

*::selection {
  background-color: var(--color6);
}

body {
  font-family: "font-3";
  font-size: 16px;
  color: var(--color1);
  background-color: var(--color2);
  overflow-x: hidden;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

/*=============== HEADER ===============*/
header {
  width: 100%;
}

.top-header {
  width: 100%;
  height: 50px;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon-menu {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  font-size: 24px;
}

.icon-music {
  height: 40px;
  width: 40px;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

.ri-close-line {
  display: none;
  font-size: 24px;
}
.ri-menu-line {
  font-size: 24px;
}

nav {
  position: relative;
}

.sous-menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  position: absolute;
  top: 50px;
  left: -300px;
  height: 400px;
  width: 200px;
  background-color: var(--color1);
  z-index: 1000;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  animation: animOpenMenu .5s forwards;
}

.menu {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 700px;
}

@keyframes animOpenMenu {
  from {
    left: -300px;
  }
  to {
    left: -15px;
  }
}

.close-menu {
  animation: animCloseMenu .5s forwards;
}

@keyframes animCloseMenu {
  from {
    left: -15px;
  }
  to {
    left: -300px;
    display: none;
  }
}

a {
  text-decoration: none;
  color: var(--color2);
  font-family: "font-4";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

a:hover {
  transform: scale(110%);
  transition: .5s;
}

.music-active {
  transform: rotate(180deg);
  transition: .5s;
}

.music-desactive {
  transform: rotate(0deg);
  transition: .5s;
}

.main-header {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 10vh;
}

#img-dev {
  width: 90%;
  max-height: 400px;
  max-width: 400px;
}

h1 {
  font-family: "font-1";
  font-size: 38px;
  margin-bottom: 40px;
  text-align: center;
}

h2 {
  font-family: "font-2";
  font-size: 20px;
  text-align: center;
}

.typed-cursor {
  display: none;
}

.bot-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bot-header a:nth-child(1) {
  color: var(--color3);
  font-size: 24px;
  animation: animArrow 2s infinite;
}

@keyframes animArrow {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

/*=============== MAIN ===============*/
main {
  margin-top: 100px;
}
/*=============== ABOUT ME ===============*/
h3 {
  font-family: "font-1";
  font-size: 26px;
  color: var(--color3)
}

b {
  color: var(--color3);
}

.main-aboutme {
  margin-top: 20px;
}

/*=============== SKILLS ===============*/
#skills h3:nth-child(1) {
  color: var(--color6)
}

#skills {
  margin-top: 100px;
}

.main-skills {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.img-skills {
  height: 75px;
  width: 75px;
}

#img-figma {
  height: 60px;
}

.soft-skills {
  margin-top: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.soft-skill {
  font-family: "font-4";
  letter-spacing: 3px;
  font-size: 20px;
}

.soft-skills span:nth-child(2) {
  color: var(--color6);
}
.soft-skills span:nth-child(3) {
  color: var(--color1);
}
.soft-skills span:nth-child(4) {
  color: var(--color6);
}
.soft-skills span:nth-child(5) {
  color: var(--color1);
}
.soft-skills span:nth-child(6) {
  color: var(--color6);
}

/*=============== PORTFOLIO ===============*/
#portfolio h3:nth-child(1) {
  color: var(--color4)
}

#portfolio {
  margin-top: 100px;
  width: 100%;
}

.swiper {
  margin-top: 20px;
  width: 100%;
}

.swiper-wrapper {
  width: 100%;
}

.img-portfolio {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  filter: grayscale(50%);
}

.swiper-slide:hover .img-portfolio {
  opacity: 25%;
}

.swiper-slide {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: var(--color2);
  border-radius: 10px;
  cursor: grab;
}

.titre-projet {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-family: "font-1";
  color: var(--color4);
  visibility: hidden;
  text-align: center;
}

.swiper-slide:hover .titre-projet {
  visibility: visible;
  animation: animTitreProjet .5s forwards;
}

@keyframes animTitreProjet {
  from {
    top: 0%;
  }
  to {
    top: 25px;
  }
}

.a-projet {
  position: absolute;
  bottom: 25px;
}

.ap1 {
  left: 20%;
  visibility: hidden;
}

.ap2 {
  right: 20%;
  visibility: hidden;
}

.icon-projet {
  font-size: 32px;
  color: var(--color1);
}

.swiper-slide:hover .ap1 {
  visibility: visible;
  animation: animAp1 .5s forwards;
}

@keyframes animAp1 {
  from {
    left: 0px;
  }
  to {
    left: 20%;
  }
}

.swiper-slide:hover .ap2 {
  visibility: visible;
  animation: animAp2 .5s forwards;
}

@keyframes animAp2 {
  from {
    right: 0px;
  }
  to {
    right: 20%;
  }
}

/*=============== CONTACT ===============*/
#contact {
  margin-top: 100px;
}

#contact h3:nth-child(1) {
  color: var(--color5);
}

.img-contact {
  height: 50px;
  width: 50px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "font-2";
}

#contact b:nth-child(1) {
  color: var(--color5);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 400px;
}

.input-form-contact {
  height: 40px;
  width: 80%;
  max-width: 400px;
  background-color: var(--color1);
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--color2);
  font-family: "font-3";
}

::placeholder {
  color: var(--color2);
  font-family: "font-3";
  font-size: 12px;
}

#text-message {
  height: 100px;
  resize: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.submit {
  border: none;
  background-color: var(--color5);
  height: 40px;
  width: 150px;
  border-radius: 10px;
  color: var(--color1);
  font-family: "font-1";
  font-size: 20px;
  cursor: pointer;
}

.submit:hover {
  letter-spacing: 2px;
  transition: .5s;
}




.link-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

/*=============== FOOTER ===============*/
footer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.text-footer {
  font-size: 12px;
  font-family: "font-2";
  color: var(--color1);
}

/*=============== RESPONSIVE ===============*/
@media (min-width: 768px) {
  body {
    padding-left: 25px;
    padding-right: 25px;
  }
  @keyframes animOpenMenu {
    from {
      left: -300px;
    }
    to {
      left: -25px;
    }
  } 
  @keyframes animCloseMenu {
    from {
      left: -25px;
    }
    to {
      left: -300px;
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  body {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .ri-menu-line {
    display: none;
  }
  .sous-menu {
    display: none;
  }
  .menu {
    display: flex;
  }
  a {
    color: var(--color1);
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  #img-dev {
    max-height: 500px;
    max-width: 500px;
  }
  .img-skills {
    height: 90px;
    width: 90px;
  }
  #img-figma {
    height: 70px;
  }
  .soft-skill {
    font-size: 24px;
  }
  h3 {
    font-size: 32px;
  }
  .text-footer {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  body {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .ri-menu-line {
    display: none;
  }
  .sous-menu {
    display: none;
  }
  .menu {
    display: flex;
  }
  a {
    color: var(--color1);
  }
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 38px;
  }
  p {
    font-size: 22px;
  }
  h4 {
    font-size: 22px;
  }
  h3 {
    font-size: 36px;
  }
  .soft-skill {
    font-size: 28px;
  }
  .text-footer {
    font-size: 16px;
  }
}
